<p id="notice"><%= notice %></p>

<p>
  <strong>Marca:</strong>
  <%= @car.marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @car.modelo %>
</p>

<p>
  <strong>Año:</strong>
  <%= @car.año %>
</p>

<p>
  <strong>Color:</strong>
  <%= @car.color %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @car.placa %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
